.container{
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0px auto;
}

.main-name {
    width: 17.36em;
    height: 8em;
    margin-bottom: 60px;
}

.container-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.75em;
    max-width: 1170px;
}

.container-projects__section {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4,1fr);
}

.container-projects__img {
    grid-area: 1/1/5/8;
}

.container-projects__content {
    grid-area: 1/8/3/13;
    width: 400px;
    margin-left: 30px;
}

.container-projects__button {
    grid-area: 3/8/5/13;
    margin-left: 30px;
    width: 221.81px;
    height: 61px;
    margin-top: 15px;
    background-color: white;
}

.container-projects__button {
    display: flex;
    align-items: center;
    border: 0;
}

.container-projects__button_text {
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.container-projects__button_text {
    max-width: max-content;
    max-height: 24px;
    margin: 0 auto;
    align-self: left;
}

.container-projects__button_arrow {
    max-width: 17.21px;
    max-height: 8px;
    margin: 0 auto;
    align-self: right;
}



@font-face {
    font-family: "Roboto";
    src:url("./assets/fonts/Roboto/Roboto-Light.ttf") format("ttf"),
}

.h1_our {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    color: gray;
    line-height: 64px;
}

.h1_projects {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: black;
    line-height: 64px;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    size: 40px;
    line-height: 46.88px;
    color: #BDBDBD;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    size: 16px;
    line-height: 25px;
    color: black;
}

.button-pages {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0px auto;
}

.button-pages_right, .button-pages_left {
    border: 0;
    background-color: white;
}

@media screen and (min-width: 960px) and (max-width: 1199px){
    .container{
        max-width: 640px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0px auto;
    }

    .container-projects {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2em;
        max-width: 640px;
    }
    
    .container-projects__section {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(4,1fr);
    }

    .container-projects__img {
        grid-area: 1/1/5/2;
    }

    .project-pict {
        width: 50vh;
        height: 40vh;
    }

    .container-projects__content {
        grid-area: 1/9/4/13;
        width: 80%;
        margin-left: 30px;
        background-color: white;
    }
    
    .container-projects__button {
        grid-area: 4/9/5/13;
        margin-left: 30px;
        width: 221.81px;
        height: 61px;
        margin-top: 15px;
        background-color: white;
    }

    .button-pages {
        max-width: 640px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0px auto;
    }

}

@media screen and (min-width: 640px) and (max-width: 959px){
    .container{
        max-width: 480px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0px auto;
    }

    .container-projects__content {
        background-color: white;
        grid-area: 2/9/4/13;
        gap: 0;
    }

    .container-projects__button {
        grid-area: 4/9/5/13;
        gap: 0;
    }
}


@media screen and (min-width: 480px) and (max-width: 639px){

}

@media screen and (max-width: 479px) {

}