.section_projects_container{
    max-width: 1200px;
    margin: 0px auto;
    padding-left: 15px;
    padding-right: 15px;
} 
.header_h4{
    color: #BDBDBD;
    font-family: 'Roboto', normal;
    font-weight: 300;
    font-size: 64px;
    line-height: 64px;
    }
    
.header_h5{
    color:#333333;
    font-family: 'Roboto', normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 64px;}

.flex-container {
    display: flex;
    flex-direction: row-reverse; 
    justify-content:center;
    align-items:space-between; 
}

.picture_4_1_project1{
    width: 1170px;
    height: 435px;
    left: 135px;
    top: 353px;   
}

.picture_4_2_project1{ 
width: 419px;
height: 428px;
left: 135px;
top: 818px;
}

.article{
color: #000000;
font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 25px;
}

.picture_4_3_project1{
    width: 1170px;
    height: 435px;
    left: 135px;
    top: 1276px;
}
