/*Позиционирование хэдер*/
.header__nav,
.h3,
.footer,
.section_h2,
h1>span,
.button,
.section_block2>span,
.section_block2_text,
.section_block3>h2,
.section_inner_text {
    font-family: 'Roboto', normal;
}

@media screen and (min-width: 960px) and (max-width: 1199px) {

    .header_main_container,
    .section-main_container,
    .section_block_container,
    .section-block3_container {
        max-width: 960px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0px auto;
    }

    .section_h1>h1,
    .section_h2>h2,
    .section__h2>h2,
    .section_block2>h2 {
        font-size: 51px;
    }

    .header-menu>li,
    .section__button_text {
        font-size: 10px;
    }

    .footer__nav_menu>li,
    .footer_adress>p,
    .footer_phone>a,
    .footer_email>a {
        font-size: 11px;
    }

    .section_block2_text,
    .footer__h3>h3 {
        font-size: 12px;
    }

    .section_inner1_text>p,
    .section_inner2_text>p {
        font-size: 18px;
    }

    .section__form_picture>img,
    .section__button_arrow>img,
    .section_block1_picture12>img,
    .section_block1_picture3>img,
    .section__button_arrow>img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .footer_logo>img,
    .section_inner_picture>img {
        max-width: 85%;
        padding: 0 auto;
    }
}

@media screen and (min-width: 640px) and (max-width: 959px) {

    .header_main_container,
    .section-main_container,
    .section_block_container,
    .section-block3_container,
    .container_inner {
        max-width: 640px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0px auto;
    }

    .section-inner1,
    .section-inner2 {
        max-width: max-content;
    }

       .section_block1_picture12 {
        width: 40%;
    }

    .section_block1_picture3,
    .footer_logo>img {
        display: none;
    }

    .section_h1>h1,
    .section_h2>h2,
    .section__h2>h2,
    .section_block2>h2 {
        font-size: 32px;
    }

    .header-menu>li,
    .section__button_text {
        font-size: 10px;
    }

    .footer__nav_menu>li,
    .footer_adress>p,
    .footer_phone>a,
    .footer_email>a {
        font-size: 10px;
    }

    .section_block2_text,
    .footer__h3>h3 {
        font-size: 11px;
    }

    .section_inner1_text>p,
    .section_inner2_text>p {
        font-size: 17px;
    }



    .section__form_picture>img,
    .section__button_arrow>img,
    .section_block1_picture12>img,
    .section_block1_picture3>img,
    .section__button_arrow>img,
    .section_inner_picture>img {
        object-fit: cover;
        max-width: 100%;
        max-height: 100%;
        overflow: hidden;
    }


}

.header_logo {
    width: 68.55px;
    height: 41.53px;
    padding: 1em;
}

.header-menu {
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0.2em;
    color: #333333;
    padding: 1em;
    list-style-type: none;
}

.header_main_container {
    display: grid;
    grid-template-columns: 1fr 1.6fr;
    margin: 0 auto;
    /*border: 1px solid red;*/
}

.header__nav {
    display: inline-flex;
    column-gap: 3em;
}

.main {
    border-bottom: 1px solid #333333;
    border-top: 1px solid #333333;
    width: 3.5em;
}

a {
    text-decoration: none;
    color: inherit;
}

/*позиционирование 1 часть*/
/*section-main*/
.header_main_container,
.section-main_container,
.section_block_container,
.section-block3_container,
.section_block3>span,
.container_footer {
    max-width: 1200px;
    margin: 0px auto;
    padding-left: 15px;
    padding-right: 15px;
}

.section-main_container {
    display: grid;
    grid-template-columns: 1fr 1.6fr;
    grid-template-rows: 0.8fr 0.6fr 0.3fr 0.4fr;
    max-height: 829px;
    /*border: 1px solid red;*/
    padding-bottom: 6em;
}

.section_h1 {
    grid-area: 1/1/2/2;
    align-self: end;
    width: 277.76px;
    height: 64px;
}

h1>span,
.section_block2>span,
.section_block3>h2 {
    font-size: 64px;
    font-weight: 300;
    line-height: 64px;
    color: #BDBDBD;
}

.section_h2 {
    grid-area: 2/1/3/2;
    align-self: start;
}

.section_h2>h2,
.section__h2>h2 {
    font-size: 64px;
    font-weight: 700;
    line-height: 64px;
    color: #333333;
}

.section_picture_grey {
    grid-area: 3/1/4/2;
}

.section_picture_grey,
.section__button {
    display: inline-flex;
}

.section_picture_line {
    margin-top: 15px;
}

.section_picture_numbers {
    grid-area: 4/1/5/2;
}

.section_picture_building {
    grid-area: 1/2/5/3;
}

.section__form {
    display: flex;
    flex-direction: column-reverse;
}

.section__form {
    background-image: url(../img/1_1_img_big_building.jpg);
    width: 100%;
    height: 829px;
}


.section__button {
    background-color: #fff;
    width: 221.81px;
    height: 61px;
    margin-top: 15px;
}


.section__button_text {
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.section__button_text {
    max-width: max-content;
    max-height: 17px;
    margin: 0 auto;
    align-self: center;
}

.section__button_arrow {
    max-width: 17.21px;
    max-height: 8px;
    margin: 0 auto;
    align-self: center;
}

/*section-block*/
.section_block_container {
    background-color: #FBFBFB;
    /*border: 1px solid rgb(51, 255, 0);*/
}

.container_inner {
    display: grid;
    grid-template-columns: 0.55fr 0.6fr 0.85fr;
    grid-template-rows: 1fr;
    max-width: 1000px;
    margin: 0 auto;
}

.section_block_container {
    position: relative;
}

.section_block1_picture12 {
    position: absolute;
}

.section_block1_picture12 {
    grid-area: 1/1/2/2;
    display: flex;
    flex-direction: column;
    row-gap: 1.5em;
}

.section_block1_picture3 {
    grid-area: 1/2/2/3;
    margin-top: 2em;
    padding: 1em;
}

.section-block2 {
    grid-area: 1/3/2/4;
}

.section_block2_text {
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
}

.section_block2_text {
    display: flex;
    padding: 10px;
}


/*section-block3*/
.section-block3_container {
    /*display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.6fr 1fr;
    margin-top: 4em;
    padding: 10px;*/
    display: block;
    padding-top: 5em;
    /*border: 1px solid rgb(128, 0, 255);*/
}

.section_block3>h2 {
    display: flex;
    /*border: 1px solid rgb(255, 234, 0);*/
}

.section-inner1 {
    max-width: 390px;
}

.section-inner1,
.section-inner2 {
    display: inline-flex;
}

.section-inner2 {

    max-width: 540px;
}

.section_inner1_text,
.section_inner2_text {
    font-size: 22px;
    font-weight: 400;
    line-height: 36px;
}

.section_inner1_text,
.section_inner2_text {
    display: flex;
    margin-left: 2em;
    padding: 10px;
}

.section_inner_picture>img {
    max-width: 120px;
    max-height: 144px;
    padding-top: 1em;
}

/*позиционирование 2 часть*/

/*выравнивание контейнера*/
.container__projects.container__projects_one,
.container__projects.container__projects_two,
.container__contacts {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0px auto;
}

/*Изображения*/
.projects.projects_img0,
.projects.projects_img1,
.projects.projects_img2,
.projects.projects_img3,
.projects.projects_img4,
.contacts.contacts_img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.img {
    width: 100%;
}

/* Стили заголовка H2 */
.projects.projects_section>h2,
.contacts.contacts_section>h2 {
    font-size: 64px;
    font-family: 'Roboto', serif;
    font-weight: lighter;
    color: rgba(189, 189, 189, 1);
}

/*Выравнивание и стиль внутри кнопок Black*/
.projects__button.projects__button_black,
.contacts__button.contacts__button_black {
    width: 221.81px;
    height: 71px;
    background-color: #333333;
}

.projects__button.projects__button_black_link,
.contacts__button.contacts__button_black_link {
    margin-top: 13%;
    margin-left: 25%;
    margin-right: 5%;
}

.projects__button.projects__button_black_img,
.contacts__button.contacts__button_black_img {
    margin-top: 13%;
}

.projects__button.projects__button_black_link a,
.contacts__button.contacts__button_black_link a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Roboto', serif;
    font-weight: lighter;
    color: #fff;
}

/* Позиционирование первой части OUR Projects */
.container__projects.container__projects_one {
    display: grid;
    grid-template-rows: 124px 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.projects.projects_section {
    grid-area: 1/1/2/3;
}

.container_img {
    position: relative;
    display: flex;
}

.projects.projects_text {
    position: absolute;
    margin-left: 79px;
}

.projects.projects_text p {
    font-size: 50px;
    font-family: 'Roboto', serif;
    font-weight: bold;
    color: #fff;
    width: 70%;
    height: 70px;

}

.projects__button.projects__button_invisible {
    display: flex;
}

.projects__button.projects__button_invisible_link a {
    font-size: 12px;
    text-decoration: none;
    font-family: 'Roboto', serif;
    font-weight: lighter;
    color: #fff;
    text-transform: uppercase;
}

.projects__button.projects__button_invisible_img {
    margin-left: 5%;
}

/* Позиционирование второй части OUR Projects */
.container__projects.container__projects_two {
    display: grid;
    grid-template-rows: 255px 90px;
    grid-template-columns: 3fr 5fr 4fr;
    gap: 30px;
}

.projects__button.projects__button_black {
    grid-area: 2/1/3/4;
    justify-self: end;
    display: flex;
}


/* Позиционирование  Contact Us */
.container__contacts {
    display: grid;
    grid-template-rows: 124px 369px 80px;
    grid-template-columns: 4.5fr 7.5fr;
    gap: 40px;
}

.contacts.contacts_section {
    grid-area: 1/1/2/3;
}

.contacts__button.contacts__button_black {
    grid-area: 3/1/4/3;
    display: flex;
}

.contacts__input.contacts__input_container input {
    width: 85%;
    height: 46px;
    margin-bottom: 5px;
    background-color: #F3F3F3;
    font-size: 14px;
    font-family: 'Roboto', normal;
    color: #8D8D8D;
    border: none;
    padding: 0 21px;
}

.contacts__input.contacts__input_container textarea {
    width: 85%;
    height: 147px;
    background-color: #F3F3F3;
    font-size: 14px;
    font-family: 'Roboto', normal;
    color: #8D8D8D;
    border: none;
    padding: 14px 21px;
}

@media screen and (min-width: 960px) and (max-width: 1199px) {

    .container__projects.container__projects_one,
    .container__projects.container__projects_two,
    .container__contacts {
        max-width: 960px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0px auto;
    }

    .projects.projects_section>h2,
    .contacts.contacts_section>h2 {
        font-size: 51px;
    }

    .projects.projects_text p {
        font-size: 40px;
    }

    .container__projects.container__projects_one {
        display: grid;
        grid-template-rows: 124px 1fr;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        margin-bottom: 20px;
    }

    .projects.projects_text {
        margin-left: 30px;
    }

    .container__projects.container__projects_two {
        grid-template-rows: 224px 70px;
        grid-template-columns: 2.89fr 5fr 3.95fr;
        gap: 20px;
        margin-bottom: 30px;
    }

    .container__contacts {
        display: grid;
        grid-template-rows: 124px 286px 80px;
        grid-template-columns: 4.5fr 7.5fr;
        gap: 40px;
    }

    .contacts__input.contacts__input_container input {
        width: 85%;
        height: 35px;
    }

    .contacts__input.contacts__input_container textarea {
        width: 85%;
        height: 115px;
    }
}

@media screen and (min-width: 640px) and (max-width: 959px) {

    .container__projects.container__projects_one,
    .container__projects.container__projects_two,
    .container__contacts {
        max-width: 640px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0px auto;
    }

    .projects.projects_section>h2,
    .contacts.contacts_section>h2 {
        font-size: 34px;
    }

    .projects.projects_text p {
        font-size: 25px;
        width: 70%;
        height: 30px;
    }

    .container__projects.container__projects_one {
        display: grid;
        grid-template-rows: 60px 1fr;
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 20px;
    }

    .projects.projects_text {
        margin-left: 30px;
    }

    .container__projects.container__projects_two {
        grid-template-rows: 148px 70px;
        grid-template-columns: 2.89fr 5fr 3.95fr;
    }

    .container__contacts {
        display: grid;
        grid-template-rows: 60px 286px 80px;
        grid-template-columns: 4.5fr 7.5fr;
        gap: 40px;
    }

    .contacts__input.contacts__input_container input {
        width: 85%;
        height: 35px;
    }

    .contacts__input.contacts__input_container textarea {
        width: 85%;
        height: 90px;
    }

    .projects__button.projects__button_black,
    .contacts__button.contacts__button_black {
        width: 150px;
        height: 40px;
    }

    .projects__button.projects__button_black_link,
    .contacts__button.contacts__button_black_link {
        margin-top: 7%;
        margin-left: 10%;
        margin-right: 5%;
    }

    .projects__button.projects__button_black_img,
    .contacts__button.contacts__button_black_img {
        margin-top: 6%;
    }
}

@media screen and (min-width: 480px) and (max-width: 639px) {

    .container__projects.container__projects_one,
    .container__projects.container__projects_two,
    .container__contacts {
        max-width: 480px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0px auto;
    }

    .projects.projects_section>h2,
    .contacts.contacts_section>h2 {
        font-size: 25px;
    }

    .projects.projects_text p {
        font-size: 20px;
        width: 70%;
        height: 25px;
    }

    .container__projects.container__projects_one {
        display: grid;
        grid-template-rows: 55px 1fr;
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 20px;
    }

    .projects.projects_text {
        margin-left: 30px;
    }

    .container__projects.container__projects_two {
        grid-template-rows: 90px 60px;
        grid-template-columns: 2.89fr 5fr 3.95fr;
    }

    .container__contacts {
        display: grid;
        grid-template-rows: 60px 1fr 60px;
        grid-template-columns: 12fr 1fr;
    }

    .contacts.contacts_img {
        display: none;
    }

    .contacts__input.contacts__input_container input {
        width: 100%;
        height: 35px;
    }

    .contacts__input.contacts__input_container textarea {
        width: 100%;
        height: 70px;
    }

    .projects__button.projects__button_black,
    .contacts__button.contacts__button_black {
        width: 150px;
        height: 40px;
    }

    .projects__button.projects__button_black_link,
    .contacts__button.contacts__button_black_link {
        margin-top: 7%;
        margin-left: 10%;
        margin-right: 5%;
    }

    .projects__button.projects__button_black_img,
    .contacts__button.contacts__button_black_img {
        margin-top: 6%;
    }
}

@media screen and (max-width: 479px) {




    .projects.projects_section>h2,
    .contacts.contacts_section>h2 {
        font-size: 25px;
    }

    .projects.projects_text p {
        font-size: 20px;
        width: 70%;
        height: 25px;
    }

    .container__projects.container__projects_one {
        display: grid;
        grid-template-rows: 55px 1fr;
        grid-template-columns: 1fr;
        margin-bottom: 10px;
    }

    .projects.projects_img1,
    .projects.projects_img4,
    .contacts.contacts_img {
        display: none;
    }

    .projects.projects_text {
        margin-left: 30px;
    }

    .container__projects.container__projects_two {
        grid-template-rows: 90px 60px;
        grid-template-columns: 2.89fr 5fr;
    }

    .container__contacts {
        display: grid;
        grid-template-rows: 60px 1fr 60px;
        grid-template-columns: 100%;
    }

    .contacts__input.contacts__input_container input {
        width: 80%;
        height: 35px;
    }

    .contacts__input.contacts__input_container textarea {
        width: 80%;
        height: 70px;
    }

    .projects__button.projects__button_black,
    .contacts__button.contacts__button_black {
        width: 150px;
        height: 40px;
        margin-right: 30px;
    }

    .projects__button.projects__button_black_link,
    .contacts__button.contacts__button_black_link {
        margin-top: 7%;
        margin-left: 10%;
        margin-right: 5%;
    }

    .projects__button.projects__button_black_img,
    .contacts__button.contacts__button_black_img {
        margin-top: 6%;
    }
}



/*позиционирование футер*/
.footer {
    background-color: #2C2C2C;
    color: #fff;
    margin-top: 1em;
}


.footer_logo {
    width: 145px;
    height: 94px;
}

.footer_logo {
    margin-top: 2.3em;
}

.h3 {
    font-size: 16px;
    font-weight: 700;
    line-height: 18.75px;
}

.footer__nav,
.footer_adress,
.footer_phone,
.footer_email {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
}

.footer-nav>ul {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.footer__nav_menu {
    list-style-type: none;
}

.container_footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr) 1.5fr;
    grid-template-rows: 280px;
    max-height: 417px;
}

.footer__nav_menu>li {
    display: flex;
    padding: 0.6em;
}


.footer_adress,
.footer_phone,
.footer_email {
    display: flex;
    column-gap: 1em;
    padding: 0.8em;
}

.footer_adress>img {
    margin-bottom: 1.5em;
}

.footer_social_logo {
    display: inline-flex;
    column-gap: 2.8em;
}

.footer-info {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    width: 100%;
}

.footer_info_text {
    font-family: 'Open Sans', normal;
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    color: #C8C8C880;
    opacity: 0.5;
}

.footer_info_text {
    display: flex;
    justify-content: center;
    padding-top: 1em;
    padding-bottom: 1em;
}