/*Позиционирование хэдер*/
.header__nav,
.h3,
.footer,
.section_h2,
h1>span,
.button,
.section_block2>span,
.section_block2_text,
.section_block3>span,
.section_inner_text {
    font-family: 'Roboto', normal;
}

*img {
    max-width: max-content;
}

.header_logo {
    width: 68.55px;
    height: 41.53px;
    padding: 1em;
}

.header-menu {
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0.2em;
    color: #333333;
    padding: 1em;
    list-style-type: none;
}

.header_main_container {
    display: grid;
    grid-template-columns: 0.95fr 1.7fr;
    margin: 0px auto;
    /*border: 1px solid red;*/
}

.header__nav {
    display: inline-flex;
    column-gap: 3em;
}

.main {
    border-bottom: 1px solid #333333;
    border-top: 1px solid #333333;
    width: 3.5em;
}

a {
    text-decoration: none;
    color: inherit;
}

/*позиционирование 1 часть*/
/*section-main*/
.header_main_container,
.section-main_container,
.section_block_container,
.section-block3_container,
.section_block3>span, .container_footer {
    max-width: 1200px;
    margin: 0px auto;
    padding-left: 15px;
    padding-right: 15px;
}

.section-main_container {
    display: grid;
    grid-template-columns: 1fr 1.6fr;
    grid-template-rows: 0.8fr 0.6fr 0.3fr 0.4fr;
    max-height: 829px;
    /*border: 1px solid red;*/
    padding-bottom: 6em;
}

.section_h1 {
    grid-area: 1/1/2/2;
    align-self: end;
    width: 277.76px;
    height: 64px;
}

h1>span,
.section_block2>span,
.section_block3>span {
    font-size: 64px;
    font-weight: 300;
    line-height: 64px;
    color: #BDBDBD;
}

.section_h2 {
    grid-area: 2/1/3/2;
    align-self: start;
}

.section_h2>span {
    font-size: 64px;
    font-weight: 700;
    line-height: 64px;
    color: #333333;
}

.section_picture_grey {
    grid-area: 3/1/4/2;
}

.section_picture_grey,
.section__button {
    display: inline-flex;
}

.section_picture_line {
    margin-top: 15px;
}

.section_picture_numbers {
    grid-area: 4/1/5/2;
}

.section_picture_building {
    grid-area: 1/2/5/3;
}

.section__form {
    display: flex;
    flex-direction: column-reverse;
}

.section__form {
    background-image: url(../img/1_1_img_big_building.jpg);
    width: 770px;
    height: 829px;
}


.section__button {
    background-color: #fff;
    width: 221.81px;
    height: 61px;
    margin-top: 15px;
}


.section__button_text {
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.section__button_text {
    max-width: max-content;
    max-height: 17px;
    margin: 0 auto;
    align-self: center;
}

.section__button_arrow {
    max-width: 17.21px;
    max-height: 8px;
    margin: 0 auto;
    align-self: center;
}

/*section-block*/
.section_block_container {
    background-color: #FBFBFB;
    display: grid;
    grid-template-columns: 0.7fr 0.5fr 0.8fr;
    grid-template-rows: 1fr;
    max-height: 465px;
    /*border: 1px solid rgb(51, 255, 0);*/
}

.section_block_container {
    position: relative;
}

.section_block1_picture12 {
    position: absolute;
}

.section_block1_picture12 {
    grid-area: 1/1/2/2;
    display: flex;
    flex-direction: column;
    margin-left: 7em;
    row-gap: 1.5em;
}

.section_block1_picture3 {
    grid-area: 1/2/2/3;
    margin-top: 2em;
    padding: 1em;
}

.section-block2 {
    grid-area: 1/3/2/4;
}

.section_block2_text {
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
}

.section_block2_text {
    display: flex;
    max-width: 400px;
}


/*section-block3*/
.section-block3_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    max-height: 268px;
    padding-top: 2em;
    /*border: 1px solid rgb(128, 0, 255);*/
}

.section_block3>span {
    display: flex;
    padding-top: 1.5em;
   /*border: 1px solid rgb(255, 234, 0);*/
    
}

.section-inner1 {
    grid-area: 1/1/2/2;
    max-width: 413px;
    max-height: 144px;
}

.section-inner1,
.section-inner2 {
    display: inline-flex;
}

.section-inner2 {
    grid-area: 1/2/2/3;
    max-width: 570px;
    max-height: 144px;
}

.section_inner1_text,
.section_inner2_text {
    font-size: 22px;
    font-weight: 400;
    line-height: 36px;
}

.section_inner1_text {
    display: flex;
    margin-left: 3em;
}

.section_inner2_text {
    display: flex;
    width: 420px;
    margin-left: 3em;
}

/*позиционирование 2 часть*/

/*выравнивание контейнера*/
.container__projects.container__projects_one,
.container__projects.container__projects_two,
.container__contacts {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0px auto;
}

@media screen and (max-width: 960px) {

    .container__projects.container__projects_one,
    .container__projects.container__projects_two,
    .container__contacts {
        width: 960px;
        padding-left: 15px;
        padding-top: 15px;
        margin: 0px auto;
    }

    .projects.projects_section>h2,
    .contacts.contacts_section>h2 {
        font-size: 54px;
    }

}


/*Изображения*/
.projects.projects_img0,
.projects.projects_img1,
.projects.projects_img2,
.projects.projects_img3,
.projects.projects_img4,
.contacts.contacts_img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}


/* Стили заголовка H2 */
.projects.projects_section>h2,
.contacts.contacts_section>h2 {
    font-size: 64px;
    font-family: 'Roboto', serif;
    font-weight: lighter;
    color: rgba(189, 189, 189, 1);
}

/*Выравнивание и стиль внутри кнопок Black*/
.projects__button.projects__button_black,
.contacts__button.contacts__button_black {
    width: 221.81px;
    height: 71px;
    background-color: #333333;
}

.projects__button.projects__button_black_link,
.contacts__button.contacts__button_black_link {
    margin: 30px 10px 29px 39px;
}

.projects__button.projects__button_black_img,
.contacts__button.contacts__button_black_img {
    margin-top: 28px;
}

.projects__button.projects__button_black_link a,
.contacts__button.contacts__button_black_link a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Roboto', serif;
    font-weight: lighter;
    color: #fff;
}

/* Позиционирование первой части OUR Projects */
.container__projects.container__projects_one {
    border: 1px red solid;
    display: grid;
    grid-template-rows: 124px 285px;
    grid-template-columns: repeat(2, 570px);
    gap: 30px;
}

.projects.projects_section {
    grid-area: 1/1/2/3;
}

.container_img {
    position: relative;
    display: flex;
}

.projects.projects_text {
    position: absolute;
    margin-left: 79px;

}

.projects.projects_text p {
    font-size: 50px;
    font-family: 'Roboto', serif;
    font-weight: bold;
    color: #fff;
    width: 233px;
    height: 70px;

}

.projects__button.projects__button_invisible {
    display: flex;
}

.projects__button.projects__button_invisible_link a {
    font-size: 12px;
    text-decoration: none;
    font-family: 'Roboto', serif;
    font-weight: lighter;
    color: #fff;
    text-transform: uppercase;
}

.projects__button.projects__button_invisible_img {
    margin-left: 20px;
}

/* Позиционирование второй части OUR Projects */
.container__projects.container__projects_two {
    border: 1px red solid;
    display: grid;
    grid-template-rows: 255px 90px;
    grid-template-columns: 270px 470px 370px;
    gap: 30px;
}

.projects__button.projects__button_black {
    grid-area: 2/1/3/4;
    justify-self: end;
    display: flex;
}


/* Позиционирование  Contact Us */
.container__contacts {
    border: 1px red solid;
    display: grid;
    grid-template-rows: 124px 369px 80px;
    grid-template-columns: 391px 749px;
    gap: 40px;
}

.contacts.contacts_section {
    grid-area: 1/1/2/3;
}

.contacts__button.contacts__button_black {
    grid-area: 3/1/4/3;
    display: flex;
}

.contacts__input.contacts__input_container input {
    width: 380px;
    height: 46px;
    margin-bottom: 5px;
    background-color: #F3F3F3;
    font-size: 14px;
    font-family: 'Roboto', normal;
    color: #8D8D8D;
    border: none;
    padding: 0 21px;
}

.contacts__input.contacts__input_container textarea {
    width: 380px;
    height: 147px;
    background-color: #F3F3F3;
    font-size: 14px;
    font-family: 'Roboto', normal;
    color: #8D8D8D;
    border: none;
    padding: 14px 21px;
}


/*позиционирование футер*/
.footer {
    background-color: #2C2C2C;
    color: #fff;
    margin-top: 1.5em;
}


.footer_logo {
    width: 145px;
    height: 94px;
}

.footer_logo {
    margin-top: 2.3em;
}

.h3 {
    font-size: 16px;
    font-weight: 700;
    line-height: 18.75px;
}

.footer__nav,
.footer_adress,
.footer_phone,
.footer_email {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
}

.footer__nav_menu {
    list-style-type: none;
}

.container_footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr) 1.5fr;
    grid-template-rows: 280px;
    max-height: 417px;
}

.footer__nav_menu>li {
    display: flex;
    padding: 0.6em;
}


.footer_adress,
.footer_phone,
.footer_email {
    display: flex;
    column-gap: 1em;
    padding: 1em;
}

.footer_adress>img {
    margin-bottom: 1.8em;
}

.footer_social_logo {
    display: inline-flex;
    column-gap: 2.8em;
}

.footer-info {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    width: 100%;
}

.footer_info_text {
    font-family: 'Open Sans', normal;
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    color: #C8C8C880;
    opacity: 0.5;
}

.footer_info_text {
    display: flex;
    justify-content: center;
    padding-top: 1em;
    padding-bottom: 1em;
}